:root {
    --primary-font: "Roboto", sans-serif;
    --secondary-font: "Raleway", sans-serif;
    /* colors */
    --main-acent: #2E2F42;
    --logo-acent: #4D5AE5;
    --head-hover: #404bbf;
    --main-hover: var(--head-hover);
    --foot-acent: #F4F4FD;
    --main-text: #434455;
    --section-main-text: #FFFFFF;
    --social-icon: var(--foot-acent);
    --foot-social: #FFFFFF;

    --bg-global: #FFFFFF;
    --bg-main: #e5e5e5;
    --bg-accent: var(--main-acent);
    --bg-team: var(--foot-acent);
    --bg-studio-icon: var(--foot-acent);
    --bg-social: var(--logo-acent);
    --social-acent: var(--head-hover);
    --bg-foot-social: #31d0aa;

    --header-brd: #E7E9FC;
    --portfolio-brd: var(--header-brd);
    --studio-icon-brd: #8E8F99;
}

body {
    font-family: "Roboto", sans-serif;
    color: var(--main-text);
    background-color: var(--bg-global);
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
p {
    margin: 0;
}
img {
    display: block;
}

/* main container */
.container {
    width: 100%;
    max-width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

/* headers */
.lvl-one {
    margin: 0;
    font-size: 56px;
    letter-spacing: 0.02em;
}
.lvl-two {
    margin: 0;
    font-size: 36px;
    letter-spacing: 0.02em;
}
.lvl-three {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    color: var(--main-acent);
    margin: 0 0 8px 0;
}

/* for hidding elements */
.visually-hidden { 
    position: absolute; 
    width: 1px; 
    height: 1px; 
    margin: -1px; 
    border: 0; 
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

/* site header */
.header {
    border-bottom: 1px solid var(--header-brd);
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}
.header .container {
    display: flex;
    align-items: center;
}
.header-nav {
    width: 50%;
    display: flex;
    align-items: center;
}
.header-nav .logo {
    margin-right: 76px;
}
.header-nav-list, 
.header-addr-list {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
}
.header-nav-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-acent);
    text-decoration: none;
    padding: 24px 0;
    display: block;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}
.header-nav-link::after {
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--head-hover);
    position: absolute;
    left: 0px;
    bottom: -1px;
    display: block;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transform: scaleX(0);
    transform-origin: left;
}
.header-nav-link.active::after {
    transform: scaleX(1);
}
.header-nav-link.active,
.header-nav-link:hover,
.header-nav-link:focus {
    color: var(--head-hover);
}
.header-nav-link:hover::after,
.header-nav-link:focus::after {
    transform: scaleX(1);
}
.header-addr {
    display: block;
    width: 50%;
    border: 1px;
    font-style: normal;
}
.header-addr-link {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--main-text);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-addr-link:hover,
.header-addr-link:focus {
    color: var(--head-hover);
}

/* company logo */
.logo {
    color: var(--logo-acent);
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-decoration: none;
}
.main-logo-span {
    color: var(--main-acent);
}
.foot-logo-span {
    color: var(--foot-acent);
}

/* sections */
.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.sect-main {
    color: var(--section-main-text);
    background-color: var(--bg-accent);
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
}
.sec-main .container {
    text-align: center;
}
.sect-main-header {
    margin: 0 auto 50px auto;
    max-width: 496px;
    text-align: center;
    line-height: 1.07;
    width: 496px;
}
.sect-main-botton {
    display: block;
    margin: 0 auto;
    color: var(--section-main-text);
    background-color: var(--logo-acent);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    min-width: 169px;
    height: 56px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-main-botton:hover,
.sect-main-botton:focus {
    background-color: var(--main-hover);
}

.sect-studio-list {
    line-height: 1.5;
    letter-spacing: 0.02em;
    display: flex;
    gap: 24px;
}
.sect-studio-item {
    width: calc((100% - 72px) / 4);
}
.sect-studio-icon {
    margin: 0 0 8px 0;
    width: 100%;
    background: var(--bg-studio-icon);
    border: 1px solid var(--studio-icon-brd);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.sect-team {
    background-color: var(--bg-team);
}
.sect-team-header {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-acent);
    margin: 0px 0px 72px 0px;
}
.sect-team-list {
    display: flex;
    gap: 24px;
}
.sect-team-list-itm {
    width: calc((100% - 72px) / 4);
    line-height: 1.7;
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.sect-team-list-itm img {
    width: 100%;
}
.sect-team-content {
    padding: 32px 0px 32px 0px;
}
.sect-team-content .lvl-three {
    text-align: center;
    margin: 0px 0px 8px 0px;
}
.sect-team-txt {
    text-align: center;
    line-height: 1.5;
    letter-spacing: 0.02em;
    margin: 0px;
}
.sect-team-social {
    margin: 8px 0 0 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}
.sect-team-social-item {
    width: 40px;
    height: 40px;
}
.sect-team-social-link {
    display: flex;
    align-items: center; 
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-social);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-team-social-link:hover,
.sect-team-social-link:focus {
    background-color: var(--social-acent);
}
.sect-team-social-icon {
    fill: var(--social-icon);
}

.sect-portfolio-header {
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: var(--main-acent);
    margin: 0px 0px 72px 0px;
}
.sect-portfolio-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    row-gap: 48px;
}
.sect-portfolio-item {
    width: calc((100% - 48px) / 3);
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-portfolio-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.sect-portfolio-img {
    position: relative;
    overflow: hidden;
}
.sect-portfolio-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 40px 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--social-icon);
    background-color: var(--bg-social);
    transform: translatey(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sect-portfolio-item:hover .sect-portfolio-overlay {
    transform: translateY(0%);
}
.sect-portfolio-img img {
    width: 100%;
}
.sect-portfolio-content {
    border-bottom: 1px solid var(--portfolio-brd);
    border-left: 1px solid var(--portfolio-brd);
    border-right: 1px solid var(--portfolio-brd);
    padding: 32px 16px;
}
.sect-portfolio-content .lvl-three {
    margin-top: 0;
}
.sect-portfolio-txt {
    line-height: 1.5;
    letter-spacing: 0.02em
}

/* site footer */
.footer {
    background-color: var(--bg-accent);
    padding: 100px 0;
    display: flex;
    align-items: center;
}
.footer .container {
    display: flex;
    align-items: baseline;
}
.footer-logo-cnt {
    margin: 0 120px 0 0;
}
.footer-logo-cnt .logo {
    display: inline-block;
    margin-bottom: 16px;
}
.footer-text {
    max-width: 264px;
    line-height: 1.5;
    color: var(--foot-acent);
    letter-spacing: 0.02em;
}
.footer-social-txt {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--foot-social);
    margin-bottom: 16px;
}
.footer-social {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.footer-social-item {
    width: 40px;
    height: 40px;
}
.footer-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--bg-social);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-social-link:focus {
    background-color: var(--bg-foot-social);
}
.footer-social-icon {
    fill: var(--social-icon);
}